{% extends 'base.html' %}
{% block content %}

    <form method="POST" action="" class="form-signin">
        {% csrf_token %}
        <img width="72" height="72" src="https://img.icons8.com/pastel-glyph/64/000000/login-rounded.png" alt="" class="mb-4">
        <h1 class="h3 mb-3 font-weight-normal">enter your data</h1>

        <label for="username" class="sr-only">E-mail</label>
        <input type="email" id="username" name="username" class="form-control" placeholder="Enter your email" required autofocus>

        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <p class="mt-5 mb-3 text-muted">&copy: {% now 'Y' %}</p>
    </form>

{% endblock %}